In [1]:
import pandas as pd

In [2]:
path = 'data/nyc_housing_prices_jul_2020.csv'
with open(path) as f:
    nyc_house_2020 = pd.read_csv(f)

In [3]:
nyc_house_2020

,ï»¿borough,neigborhood,studio,1_bedroom,2_bedroom,3_bedroom
0,manhatan,Chelsea,"$2,794","$4,062","$6,997","$11,031"
1,manhatan,East Village,"$2,608","$3,280","$4,044","$5,289"
2,manhatan,Flatiron/Union Square,"$3,632","$4,645","$8,267","$15,969"
3,manhatan,Gramercy Park,"$2,569","$3,656","$5,413","$7,226"
4,manhatan,Greenwich Village,"$2,828","$4,116","$8,000","$12,418"
5,manhatan,Battery Park City,"$2,823","$3,573","$6,859","$10,574"
6,manhatan,Financial District,"$2,955","$3,965","$6,065","$10,653"
7,manhatan,Lower East Side,"$2,710","$3,524","$4,699","$5,543"
8,manhatan,NoHo,"$5,121","$6,117","$9,678","$16,413"
9,manhatan,NoLiTa/Little Italy,"$2,683","$4,280","$4,833","$10,648"
10,manhatan,SoHo,"$3,589","$4,556","$9,711","$13,621"
11,manhatan,Tribeca,"$3,502","$5,543","$9,650","$15,886"
12,manhatan,West Village,"$2,765","$4,169","$7,026","$11,903"
13,manhatan,Beekman/Sutton Place,"$2,676","$3,622","$5,217","$6,497"
14,manhatan,Midtown East,"$2,485","$3,613","$6,711","$12,280"
15,manhatan,Midtown West,"$2,589","$3,680","$6,138","$14,892"
16,manhatan,Murray Hill,"$2,474","$3,426","$4,653","$6,568"
17,manhatan,Turtle Bay/United Nations,"$2,237","$3,430","$5,133","$12,517"
18,manhatan,Carnegie Hill,"$2,307","$3,266","$5,547","$11,529"
19,manhatan,Lenox Hill,"$2,316","$3,277","$5,106","$8,553"
20,manhatan,Park/Fifth Ave. to 79th St.,"$4,289","$4,535","$12,173","$26,970"
21,manhatan,Roosevelt Island,"$2,696","$3,257","$4,411","$5,445"
22,manhatan,Yorkville,"$2,215","$2,838","$4,181","$7,084"
23,manhatan,Broadway Corridor,"$2,328","$3,851","$4,616","$6,197"
24,manhatan,Central Park West,"$2,362","$3,563","$7,266","$14,463"
25,manhatan,Lincoln Center,"$2,662","$4,033","$6,484","$9,851"
26,manhatan,Morningside Heights,"$2,329","$2,929","$3,179","$4,105"
27,manhatan,Riverside Dr./West End Ave.,"$2,330","$3,414","$5,966","$9,020"
28,manhatan,East Harlem,"$2,010","$2,367","$3,268","$3,880"
29,manhatan,Hamilton Heights,"$1,992","$2,118","$2,589","$3,174"
30,manhatan,Harlem,"$1,899","$2,389","$3,079","$4,148"
31,manhatan,Inwood,"$1,657","$1,876","$2,273","$2,570"
32,manhatan,Washington Heights,"$1,978","$2,039","$2,425","$2,859"
33,brooklyn,Bedford-Stuyvesant,"$2,044","$2,297","$2,611","$3,214"
34,brooklyn,Boerum Hill,"$2,092","$2,854","$4,356","$4,921"
35,brooklyn,Brooklyn Heights,"$2,509","$3,270","$5,983","$8,654"
36,brooklyn,Bushwick,"$2,050","$2,373","$2,749","$2,851"
37,brooklyn,Carroll Gardens,"$2,271","$2,634","$3,914","$5,027"
38,brooklyn,Clinton Hill,"$2,409","$2,776","$3,450","$4,204"
39,brooklyn,Cobble Hill,"$2,100","$2,734","$4,222","$6,122"
40,brooklyn,Crown Heights,"$1,806","$2,310","$2,582","$3,185"
41,brooklyn,Downtown Brooklyn,"$2,443","$3,218","$4,548","$6,048"
42,brooklyn,DUMBO,"$3,189","$4,132","$6,086","$9,144"
43,brooklyn,Fort Greene,"$2,957","$2,508","$4,213","$6,760"
44,brooklyn,Gowanus,"$2,293","$2,796","$3,588","$3,687"
45,brooklyn,Greenpoint,"$2,347","$2,812","$3,708","$5,278"
46,brooklyn,Kensington,"$1,724","$1,866","$2,925","$3,215"
47,brooklyn,Park Slope,"$2,795","$2,739","$3,422","$4,883"
48,brooklyn,Prospect Heights,"$2,393","$2,823","$3,621","$4,320"
49,brooklyn,Prospect Lefferts Gardens,"$1,933","$2,094","$2,911","$3,423"
50,brooklyn,Red Hook,-,"$2,300","$4,287",-
51,brooklyn,South Slope - Greenwood Heights,"$2,400","$2,248","$2,780","$4,000"
52,brooklyn,Sunset Park,"$1,400","$1,912","$2,300","$2,500"
53,brooklyn,Williamsburg,"$2,712","$3,166","$4,043","$5,081"
54,brooklyn,Windsor Terrace,"$1,939","$2,563","$2,877","$3,679"

In [19]:
path = 'data/all_join.csv'
with open(path) as f:
    all_data = pd.read_csv(f)

In [21]:
all_data.columns = ['neighborhood', 'id', 'borough', 'type', 'lat', 'long', 'studio_2020',
                    'br_1_2020', 'br_2_2020', 'br_3_2020', 'studio_2021', 'br_1_2021', 'br_2_2021']

In [22]:
all_data.head()

,neighborhood,id,borough,type,lat,long,studio_2020,br_1_2020,br_2_2020,br_3_2020,studio_2021,br_1_2021,br_2_2021
0,Allerton,nyu_2451_34572.299,Bronx,Point,40.865788,-73.859319,NaN,NaN,NaN,NaN,1450.0,1625.0,1800.0
1,Annadale,nyu_2451_34572.216,Staten Island,Point,40.538114,-74.178549,NaN,NaN,NaN,NaN,NaN,1450.0,NaN
2,Arden Heights,nyu_2451_34572.242,Staten Island,Point,40.549286,-74.185887,NaN,NaN,NaN,NaN,NaN,NaN,2250.0
3,Arlington,nyu_2451_34572.228,Staten Island,Point,40.635325,-74.165104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arrochar,nyu_2451_34572.229,Staten Island,Point,40.596313,-74.067124,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
len(all_data)

329

In [24]:
all_data.isnull().sum()

neighborhood      0
id                0
borough           0
type              0
lat               0
long              0
studio_2020     274
br_1_2020       273
br_2_2020       273
br_3_2020       274
studio_2021     193
br_1_2021       138
br_2_2021       126
dtype: int64

In [30]:
all_data.studio_2020.isnull().sum() / (all_data.studio_2020.isnull().sum() + all_data.studio_2020.count())

0.8328267477203647

In [32]:
for column in all_data.columns:
    print(column)

neighborhood
id
borough
type
lat
long
studio_2020
br_1_2020
br_2_2020
br_3_2020
studio_2021
br_1_2021
br_2_2021