In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [169]:
path = 'data/ht_brooklyn_studio.csv'
with open(path) as f:
    brooklyn_studio = pd.read_csv(f)

In [ ]:
path = 'data/all_join.csv'
with open(path) as f:
    all_data = pd.read_csv(f)
    
all_data.columns = ['neighborhood', 'id', 'borough', 'type', 'lat', 'long', 'studio_2020',
                    'br_1_2020', 'br_2_2020', 'br_3_2020', 'studio_2021', 'br_1_2021', 'br_2_2021']

# Hypothsis Test 1:
- H0: Rental prices of studio apartments in brooklyn from 2020 to 2021 remained constant
- Ha: Rental prices of studio apartments in brooklyn were greater in 2020 than in 2021

In [127]:
brooklyn = all_data[all_data.borough=='Brooklyn']

In [170]:
brooklyn_studio.columns = ['neighborhood', 'id', 'borough', 'type', 'lat', 'long', 'studio', 'year']
brooklyn_studio.head()

,neighborhood,id,borough,type,lat,long,studio,year
0,Bedford Stuyvesant,nyu_2451_34572.64,Brooklyn,Point,40.687232,-73.941785,2044,2020
1,Boerum Hill,nyu_2451_34572.88,Brooklyn,Point,40.685683,-73.983748,2092,2020
2,Brooklyn Heights,nyu_2451_34572.65,Brooklyn,Point,40.695864,-73.993782,2509,2020
3,Bushwick,nyu_2451_34572.63,Brooklyn,Point,40.698116,-73.925258,2050,2020
4,Carroll Gardens,nyu_2451_34572.67,Brooklyn,Point,40.680540,-73.994654,2271,2020

In [111]:
# matching pairs
brooklyn_studio_2020 = brooklyn_studio[brooklyn_studio['year']==2020]
brooklyn_studio_2021 = brooklyn_studio[brooklyn_studio['year']==2021]
print(len(brooklyn_studio_2020), len(brooklyn_studio_2021))

19 19

In [149]:
brooklyn_studio_2020 = brooklyn[~brooklyn['studio_2020'].isna()]
brooklyn_studio = brooklyn_studio_2020[~brooklyn['studio_2021'].isna()]

C:\Users\micha\AppData\Local\Temp/ipykernel_4268/2637120967.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  brooklyn_studio = brooklyn_studio_2020[~brooklyn['studio_2021'].isna()]

In [150]:
len(brooklyn_studio_2020)

21

In [167]:
# all data
brooklyn_studio_2020 = brooklyn[~brooklyn['studio_2020'].isna()]['studio_2020']
brooklyn_studio_2020 = pd.DataFrame(brooklyn_studio_2020)
brooklyn_studio_2021 = brooklyn[~brooklyn['studio_2021'].isna()]['studio_2021']
brooklyn_studio_2021 = pd.DataFrame(brooklyn_studio_2021)
brooklyn_studio_merge = brooklyn_studio_2020.merge(brooklyn_studio_2021, how ='inner',
                                                   left_on=brooklyn_studio_2020.index, 
                                                   right_on=brooklyn_studio_2021.index)

In [168]:
brooklyn_studio_merge

    key_0  studio_2020  studio_2021
0      18       2044.0       1650.0
1      29       2092.0       2446.0
2      39       2509.0       1850.0
3      44       2050.0       1731.0
4      49       2271.0       2175.0
5      66       2409.0       1800.0
6      67       2100.0       1457.0
7      77       1806.0       1945.0
8      82       2443.0       2546.0
9      83       3189.0       2300.0
10    113       2957.0        947.0
11    124       2293.0       2400.0
12    131       2347.0       2300.0
13    157       1724.0       1450.0
14    225       2795.0       2500.0
15    237       2393.0       1850.0
16    288       1400.0       2423.0
17    318       2712.0       1900.0
18    320       1939.0       1627.0

In [156]:
brooklyn_studio_merge

    studio_2020
0        2044.0
1        2092.0
2        2509.0
3        2050.0
4        2271.0
5        2409.0
6        2100.0
7        1806.0
8        2443.0
9        3189.0
10       2957.0
11       2293.0
12       2347.0
13       1724.0
14       2795.0
15       2393.0
16       1933.0
17       2400.0
18       1400.0
19       2712.0
20       1939.0

In [133]:
df =  pd.DataFrame(brooklyn_studio_2020)

In [134]:
df

     studio_2020
18        2044.0
29        2092.0
39        2509.0
44        2050.0
49        2271.0
66        2409.0
67        2100.0
77        1806.0
82        2443.0
83        3189.0
113       2957.0
124       2293.0
131       2347.0
157       1724.0
225       2795.0
237       2393.0
238       1933.0
276       2400.0
288       1400.0
318       2712.0
320       1939.0

In [125]:
print(len(brooklyn_studio_2020), len(brooklyn_studio_2021))

21 43

In [117]:
brooklyn_studio = brooklyn[['studio_2020', 'studio_2021']]
brooklyn_studio

     studio_2020  studio_2021
9            NaN       3000.0
11           NaN       2038.0
18        2044.0       1650.0
25           NaN       4200.0
26           NaN          NaN
..           ...          ...
307          NaN       1475.0
310          NaN          NaN
318       2712.0       1900.0
320       1939.0       1627.0
321          NaN          NaN

[74 rows x 2 columns]

In [118]:
brooklyn_studio_2020 = brooklyn[~brooklyn['studio_2020'].isna()]['studio_2020'].values
brooklyn_studio_2021 = brooklyn[~brooklyn['studio_2021'].isna()]['studio_2021'].values

In [119]:
brooklyn_studio_2020

array([2044., 2092., 2509., 2050., 2271., 2409., 2100., 1806., 2443.,
       3189., 2957., 2293., 2347., 1724., 2795., 2393., 1933., 2400.,
       1400., 2712., 1939.])

In [102]:
print(f'2020 studio mean {round(brooklyn_studio_2020.mean())}')
print(f'2021 studio mean {round(brooklyn_studio_2021.mean())}')

2020 studio mean 2276
2021 studio mean 2072

In [106]:
t_value, p_value = st.ttest_ind(brooklyn_studio_2020['studio'], brooklyn_studio_2021['studio'], alternative='greater')
alpha = 0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('p-value for two tailed test is %f'%p_value)
print((f'p-value {p_value} is greater than {alpha}, so the the null hypothisis is not rejected',
      f'p-value {p_value} is less than {alpha}, therefore the the null hypothisis is rejected')[int(p_value < alpha)])

Test statistic is 2.295456
p-value for two tailed test is 0.013820
p-value 0.013819854489318493 is less than 0.05, therefore the the null hypothisis is rejected

# Hypothsis Test 2:

- H0: Rental prices of 1 bedroom apartments in brooklyn from 2020 to 2021 remained constant
- Ha: Rental prices of 1 bedroom apartments in brooklyn were greater in 2020 than in 2021

In [66]:
brooklyn_br_1_2020 = brooklyn[~brooklyn['br_1_2020'].isna()]['br_1_2020'].values
brooklyn_br_1_2021 = brooklyn[~brooklyn['br_1_2021'].isna()]['br_1_2021'].values

In [67]:
brooklyn_br_1_2021

array([1575., 1750., 1975., 1500., 1500., 2300., 1700., 1850., 2600.,
       3395., 1650., 2150., 1500., 2400., 2300., 2400., 2250., 1850.,
       1900., 3150., 3386., 1550., 1725., 1750., 1800., 1600., 2500.,
       3350., 2000., 1600., 2400., 1900., 1675., 1775., 1590., 1650.,
       1688., 1800., 2475., 2375., 2300., 2000., 1695., 1650., 1665.,
       1725., 2400., 2500., 2196.])

In [68]:
t_value, p_value = st.ttest_ind(brooklyn_br_1_2020, brooklyn_br_1_2021, alternative='greater')
alpha = 0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('p-value for two tailed test is %f'%p_value)
print((f'p-value {p_value} is greater than {alpha}, so the null hypothisis is not rejected',
      f'p-value {p_value} is less than {alpha}, therefore the null hypothisis is rejected')[int(p_value < alpha)])

Test statistic is 4.688023
p-value for two tailed test is 0.000007
p-value6.729285809013829e-06 is less than 0.05, therefore the the null hypothisis is rejected

# Hypothsis test 3:

- H0: Rental prices of 2 bedroom apartments in brooklyn from 2020 to 2021 remained constant
- Ha: Rental prices of 2 bedroom apartments in brooklyn were greater in 2020 than in 2021

In [78]:
brooklyn_br_2_2020 = brooklyn[~brooklyn['br_2_2020'].isna()]['br_2_2020'].values
brooklyn_br_2_2021 = brooklyn[~brooklyn['br_2_2021'].isna()]['br_2_2021'].values

In [79]:
t_value, p_value = st.ttest_ind(brooklyn_br_2_2020, brooklyn_br_2_2021, alternative='greater')
alpha = 0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('p-value for two tailed test is %f'%p_value)
print((f'p-value {p_value} is greater than {alpha}, so the null hypothisis is not rejected',
      f'p-value {p_value} is less than {alpha}, therefore the null hypothisis is rejected')[int(p_value < alpha)])

Test statistic is 4.291448
p-value for two tailed test is 0.000028
p-value2.797002084284504e-05 is less than 0.05, therefore the the null hypothisis is rejected

# Hypothsis Test 4:

- H0: Rental prices of studio apartments in Manhattan from 2020 to 2021 remained constant
- Ha: Rental prices of studio apartments in Manhattan were greater in 2020 than in 2021

In [88]:
manhattan = all_data[all_data.borough=='Manhattan']

In [89]:
manhattan_studio_2020 = manhattan[~manhattan['br_1_2020'].isna()]['br_1_2020'].values
manhattan_studio_2021 = manhattan[~manhattan['br_1_2021'].isna()]['br_1_2021'].values

In [90]:
t_value, p_value = st.ttest_ind(manhattan_studio_2020, manhattan_studio_2021, alternative='greater')
alpha = 0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('p-value for two tailed test is %f'%p_value)
print((f'p-value {p_value} is greater than {alpha}, so the null hypothisis is not rejected',
      f'p-value {p_value} is less than {alpha}, therefore the null hypothisis is rejected')[int(p_value < alpha)])

Test statistic is 3.400300
p-value for two tailed test is 0.000565
p-value 0.0005651938375121696 is less than 0.05, therefore the the null hypothisis is rejected

# Hypothsis Test 5:
- H0: Rental prices of 1 bedroom apartments in Manhattan from 2020 to 2021 remained constant
- Ha: Rental prices of 1 bedroom apartments in Manhattan were greater in 2020 than in 2021

In [92]:
manhattan_br_1_2020 = manhattan[~manhattan['br_1_2020'].isna()]['br_1_2020'].values
manhattan_br_1_2021 = manhattan[~manhattan['br_1_2021'].isna()]['br_1_2021'].values

In [93]:
t_value, p_value = st.ttest_ind(manhattan_br_1_2020, manhattan_br_1_2021, alternative='greater')
alpha = 0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('p-value for two tailed test is %f'%p_value)
print((f'p-value {p_value} is greater than {alpha}, so the null hypothisis is not rejected',
      f'p-value {p_value} is less than {alpha}, therefore the null hypothisis is rejected')[int(p_value < alpha)])

Test statistic is 3.400300
p-value for two tailed test is 0.000565
p-value 0.0005651938375121696 is less than 0.05, therefore the the null hypothisis is rejected

# Hypothsis Test 6:
- H0: Rental prices of 2 bedroom apartments in Manhattan from 2020 to 2021 remained constant
- Ha: Rental prices of 2 bedroom apartments in Manhattan were greater in 2020 than in 2021

In [95]:
manhattan_br_2_2020 = manhattan[~manhattan['br_2_2020'].isna()]['br_2_2020'].values
manhattan_br_2_2021 = manhattan[~manhattan['br_2_2021'].isna()]['br_2_2021'].values

In [96]:
t_value, p_value = st.ttest_ind(manhattan_br_2_2020, manhattan_br_2_2021, alternative='greater')
alpha = 0.05
print('Test statistic is %f'%float("{:.6f}".format(t_value)))
print('p-value for two tailed test is %f'%p_value)
print((f'p-value {p_value} is greater than {alpha}, so the null hypothisis is not rejected',
      f'p-value {p_value} is less than {alpha}, therefore the null hypothisis is rejected')[int(p_value < alpha)])

Test statistic is 3.850136
p-value for two tailed test is 0.000132
p-value 0.0001317650632601474 is less than 0.05, therefore the the null hypothisis is rejected